<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta content="telephone=no" name="format-detection">										<!--Remove styling of telephone numbers on IOS-->
    <meta name="description" content="@ViewBag.Description"> 							<!--Change content-->
    <meta name="keywords" content="HTML, LESS, CSS, JavaScript"> 								<!--Change content-->
    <meta name="author" content="Designzway Team"> 												<!--Change content-->
    <title>@ViewBag.Title</title>															<!--Change title-->
    <link href="~/Content/switcher.css" rel="stylesheet" />											<!--Color panel-->
    <link href="~/Content/style.css?v=1" rel="stylesheet">    										<!-- Stylesheet -->
    <link href="~/Content/style_default.css" rel="stylesheet" media="all">    						<!-- Stylesheet -->
    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
    <script src="~/External/jquery/jquery-2.1.1.min.js"></script>	
    @RenderSection("head",false)
</head>
<body onload="@ViewBag.BodyOnLoad">
    <div class="wrapper">
        <!-- Begin header -->
        <header>
                <div class="main-nav">
                    <nav class="container">
                        <!-- Logo -->
                        <div class="logo pull-left">
                            <a href="@Url.Action("Index","Home")">
                                <h1 class="logo-text"><span class="text-highlight">Im</span>Vader</h1>
                            </a>
                        </div>
                        <!-- End Logo -->
                        <!-- Main navigation-->
                        <div class="pull-right" id="navigation-box">
                            <a id="navigation-toggle" href="#">
                                <span class="menu-icon"></span>
                            </a>
                            <ul id="navigation">
                                <li class="active-item">
                                    <a href="@Url.Action("Index","Home")">Home</a>
                                </li>
                                <li><a href="#">Documentaion</a></li>
                                <li><a href="@Url.Action("Demo","Home")">Demo</a></li>
                            </ul>
                        </div>
                    </nav>
                </div>
        </header>
        @RenderBody()
        @if (ViewBag.DisplayFooter != false)
        {
            <!--Begin footer -->
            <footer class="footer-wrapper">
                <!--Begin footer widget-->
                <div class="container footer-widgets">
                    <div class="row">
                        <div class="col-sm-12 col-md-5 col-lg-6 widget-news">
                            <h3 class="widget-title">News from APPIC</h3>
                            <div class="row">
                                <div class="col-sm-6 col-md-12">
                                    <p class="widget-news__text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus sit amet quam augue. Donec ut sem vel mauris sodales egestas.</p>
                                    <!-- subscribe form -->
                                    <form class="subscribe-form" id="subscribe-form" name="subscribe-form" method="post" action="getEmail.php" novalidate>
                                        <input class="subscribe-input" id="input-email" name="input-email" type="email" placeholder="your email here">
                                        <button class="submit-button" id="submit-button" type="submit">
                                            <i class="icon-circle icon-circle--thin fa fa-arrow-right"></i>
                                        </button>
                                    </form>
                                </div>
                                <div class="col-sm-6 col-md-12">
                                    <address class="widget-contacts">
                                        <span class="widget-contacts__item"><i class="icon-circle icon-circle--thin fa fa-phone"></i>+ 44 1225 324 980</span>
                                        <span class="widget-contacts__item"><i class="icon-circle icon-circle--thin fa fa-envelope"></i><a href="mailto:appic@gmail.com">appic@gmail.com</a></span>
                                        <span class="widget-contacts__item"><i class="icon-circle icon-circle--thin fa fa-map-marker"></i>101 West Street, New York, NY 12345</span>
                                    </address>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6 col-md-4 col-lg-3 widget-tweets">
                            <h3 class="widget-title">Latest Tweets</h3>
                            <ul class="twitter_update_list" id="twitter-feed"></ul>
                        </div>
                        <div class="col-sm-6 col-md-3 col-lg-3 widget-flickr">
                            <h3 class="widget-title">Flickr Stream</h3>
                            <ul class="flickr" id="flickr"></ul>
                        </div>
                    </div>
                </div>
                <!--End footer widget -->
                <!--Begin footer secondary -->
                <div class="footer-secondary">
                    <div class="divider-circle"></div>
                    <div class="container">
                        <ul class="social">
                            <li class="social__item custom-tooltip tooltip--info" title="pinterest">
                                <a class="icon-circle fa fa-pinterest" href="http://pinterest.com/" target="_blank"></a>
                            </li>
                            <li class="social__item custom-tooltip tooltip--info" title="google">
                                <a class="icon-circle fa fa-google-plus" href="https://plus.google.com" target="_blank"></a>
                            </li>
                            <li class="social__item custom-tooltip tooltip--info" title="linkedin">
                                <a class="icon-circle fa fa-linkedin" href="http://ua.linkedin.com/" target="_blank"></a>
                            </li>
                            <li class="social__item custom-tooltip tooltip--info" title="twitter">
                                <a class="icon-circle fa fa-twitter" href="http://twitter.com/" target="_blank"></a>
                            </li>
                            <li class="social__item custom-tooltip tooltip--info" title="facebook">
                                <a class="icon-circle fa fa-facebook" href="http://www.facebook.com/" target="_blank"></a>
                            </li>
                        </ul>
                        <div class="copyright">
                            <small class="small">&copy; ImVader, @DateTime.Now.Year . All rights reserved.</small>
                        </div>
                    </div>
                </div>
                <!--End footer secondary -->
            </footer>
            <!--End footer -->
        }
    </div>

    <!--End wrapper -->
    <script src="~/External/jquery/jquery-migrate-1.2.1.min.js"></script>			<!--Script jQuery for old version jQuery-->
    <script src="~/External/bootstrap/js/bootstrap.min.js"></script>				<!--Bootstrap JavaScript-->
    <script src="~/External/jflickrfeed/jflickrfeed.js"></script>					<!--Script Widget Flikr-->
    <script src="~/External/gozha-nav/jquery.mobile.menu.js"></script>			<!--Script Mobile menu-->
    <script src="~/External/modernizr/modernizr.custom.91224.js"></script>		<!--Script Modernizr-->
    <script src="~/External/colorbox/jquery.colorbox.js"></script>				<!--Script Сolorbox-->
    <script src="~/External/jquery-cookie/jquery.cookie.js"></script>				<!--Script Сookie-->
    <script src="~/External/custom.js"></script>										<!--Script Custom-->

    @RenderSection("bottom",false)
</body>
</html>

